<div class="container" style="margin-left: 10px; width: 1400px; padding: 0px; margin-top: 0px;">
    <div class="row">
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
            <div style="display: inline-block; width: 1200px;">
                <div class="col-4 width: 400px; form-group" style="display: inline-block;">
                    <label class="control-label" style="margin-right: 10px; font-size: small;">gender</label>
                    <label class="radio-inline">
                        <input type="radio" value="M" formControlName="gender" style="font-size: small;">Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="F" formControlName="gender" class="ml-3" style="font-size: small;">Female
                    </label>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["firstName"]' [label]='"First Name"'></app-text-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["secondName"]' [label]='"Second Name"'></app-text-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["familyName"]' [label]='"Family Name"'></app-text-input>
                </div>
                
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"user name"'></app-text-input>
                </div>
                <div class="row col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Known As"'></app-text-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [maxDate]='maxDate' [label]='"date of birth"'></app-date-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["city"]' [label]='"city"'></app-text-input>
                </div>
                <div class="row col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["country"]' [label]='"country"'></app-text-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["password"]' [type]='"password"' [label]='"password"'></app-text-input>
                </div>
                <div class="col-4 form-group" style="width: 400px;" style="display: inline-block;">
                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [type]='"password"' [label]='"confirm password"'></app-text-input>
                </div>
            </div>
            <div class="row col-10 top" style="width: 800px; margin-top: 0px; padding: 0px;">
                <tabset style="margin-top: 0px;" class="member-tabset" #memberTabs>
                    <tab heading="Passports" (selectTab)="onTabActivated($event)">
                        Aadhar No: <app-text-input [formControl]='registerForm.controls["aadharNo"]' [label]='"Aadhar No"'></app-text-input>
                        <div formArrayName="userPassports">
                            <p><button type="button" (click)="addUserPassport()">Add</button></p>
                            <div *ngFor="let pp of userPassports.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    Passport No : <input type="text" formControlName="passportNo">
                                    Issued At : <input type="text" formControlName="issuedAt">
                                    Issued on : <input type="date" formControlName="issuedOn">
                                    Expires : <input type="date" formControlName="validity">
                                    is Valid:<input type="checkbox" value=true formControlName="isValid" style="font-size: small;">
                                    ECNR: <input type="checkbox" value=false formControlName="ecnr" class="ml-3" style="font-size: small;">
                                </div>
                                <button (click)="removeUserPhone(i)">Remove</button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Profession" (selectTab)="onTabActivated($event)">
                        <!--
                        <ng-select [items]="professions"
                            bindLabel="name"
                            placeholder="Select Profession"
                            appendTo="ng-select"
                            dropdownPosition="relative"
                            closeOnSelect="false"
                            multiple="true"
                            searchable="true"
                            groupBy="industry"
                            (change)="onProfChange()"
                            formControlName="userProfessions">
                        </ng-select>
                    -->
                        <div formArrayName="userProfessions">
                            <p><button type="button" (click)="addUserProfession()">Add</button>
                            </p>
                            <div *ngFor="let prof of userProfessions.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    <select class="blueText" formControlName="professionId" >
                                        <option *ngFor="let prof of professionsDto" [ngValue]="prof.id">{{prof.nameWithIndustry}}</option>
                                    </select>
                                    Is Main: <input type="checkbox" value=false formControlName="isMain">
                                    <button (click)="removeUserProfession(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Phones" (selectTab)="onTabActivated($event)">
                        <div formArrayName="userPhones">
                            <p><button type="button" (click)="addUserPhone()">Add</button>
                              </p>
                            <div *ngFor="let phone of userPhones.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    phone No : <input type="text" formControlName="phoneNo">
                                    Is Main: <input type="checkbox" value=false formControlName="isMain">
                                    <button (click)="removeUserPhone(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Address" (selectTab)="onTabActivated($event)">
                        <div formArrayName="userAddresses">
                            <p><button type="button" (click)="addUserAddress()">Add</button></p>
                            <div *ngFor="let address of userAddresses.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    Address: <input type="text" formControlName="add">
                                    street Address: <input type="text" formControlName="streetAdd">
                                    location: <input type="text" formControlName="location">,
                                    city: <input type="text" formControlName="city">
                                    pin: <input type="text" formControlName="pin">
                                    state: <input type="text" formControlName="state">
                                    country: <input type="text" formControlName="country">
                                    is Main: <input type="checkbox" value=false formControlName="isMain">
                                    <button (click)="removeUserAddress(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Qualifications" (selectTab)="onTabActivated($event)">
                        <div formArrayName="userQualifications">
                            <p><button type="button" (click)="addUserQualification()">Add</button></p>
                            <div *ngFor="let qualification of userQualifications.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    <select class="blueText" formControlName="qualificationId" >
                                        <option *ngFor="let q of qualifications" [ngValue]="q.id">{{q.name}}</option>
                                    </select>
                                    is main: <input type="checkbox" value=false formControlName="isMain">
                                    <button (click)="removeUserQualification(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Experience" (selectTab)="onTabActivated($event)">
                        <div formArrayName="userExperiences">
                            <p><button type="button" (click)="addUserExp()">Add</button></p>
                            <div *ngFor="let exp of userExperiences.controls; let i=index">
                                <div [formGroupName]="i"> {{i+1}}
                                    <div class="col-6" style="display: inline-block;">
                                        Sr.No.: <input type=number formControlName="srNo">
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Worked From: <input type="date" formControlName="workedFrom">
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Worked Upto: <input type="date" formControlName="workedUpto">
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Employer: <input type="text" formControlName="employer">
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Position: 
                                        <select id="styledSelect" class="blueText" formControlName="professionId" >
                                            <option *ngFor="let prof of professionsDto" [ngValue]="prof.id">{{prof.nameWithIndustry}}</option>
                                          </select>
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Salary Cur: <input type="text" formControlName="salaryCurrency">
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        Salary: <input type="number" formControlName="monthlySalaryDrawn">
                                    </div>

                                    <button (click)="removeUserExp(i)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

            <div class="row" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div class="form-group text-center col-12">
                <button [disabled]="!registerForm.valid" class="btn btn-success mr-2" type="submit">Register</button>
                <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<p style="font-size: smaller;">values: {{registerForm.value | json}}</p>
<p>status: {{registerForm.status | json}}</p>

