<div class="text-center mt-3">
    <h2>total {{pagination?.totalItems}} records</h2>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3"(ngSubmit)="loadMembers()" autocomplete="off" >
        <div class="form-group">
            <label>Age from</label>
            <input type="number" class="form-control ml-1" style="width: 75px;" name="minAge"
            [(ngModel)]="userParams.minAge">
        </div>
        <div class="form-group px-2">
            <label>Age to</label>
            <input type="number" class="form-control ml-1" style="width: 75px;" name="maxAge"
            [(ngModel)]="userParams.maxAge">
        </div>
        <div class="form-group px-2">
            <label>Profession Like</label>
            <input type="text" class="form-control ml-1" style="width: 75px;" name="professionLike"
            [(ngModel)]="userParams.professionLike">
        </div>
        <div class="form-group px-2">
            <label>Industry Like</label>
            <input type="text" class="form-control ml-1" style="width: 75px;" name="industryLike"
            [(ngModel)]="userParams.industryLike">
        </div>
        <!--
        <div class="form-group px-2">
            <label>Show:</label>
            <select name="gender" class="form-control ml-1" style="width: 130px;" [(ngModel)]="userParams.gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
            </select>
        </div>
        -->
        <button class="btn btn-primary ml-1 fa fa-filter" type="submit"></button>
        <button (click)="resetFilters()" class="btn btn-primary fa fa-retweet ml-1"></button>
        <div class="col">
            <div class="btn btn-group float-right">
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    [(ngModel)]="userParams.orderBy"
                    (click)="loadMembers()"
                    btnRadio='lastActive'>
                    Last Active
                </button>
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    [(ngModel)]="userParams.orderBy"
                    (click)="loadMembers()"
                    btnRadio='created'>
                    Newest member
                </button>
            </div>
        </div>
    </form>
</div>
<div style="width: 1550px;">
    <div *ngFor="let member of members">
        <div class="row">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>